<div class="row">
  <div class="col-xs-12">
    <span ng-click="editForm = !editForm" class="board-title" ng-hide="editForm">{{board.title}}</span>

    <div style="float: right">
      Select Board: 
      <select ng-options="board as board.title for board in boards track by board.id" ng-model="selected">
      </select>
      <p style="margin-left: 44px; margin-top: 6px">
        <span ng-click="removeBoard()">Delete Board</span> | 
        <span ng-click="addBoard()">New Board</span>
      </p>
    </div>

    <form ng-show="editForm" name="titleform" ng-submit="updateBoard()">
      <label>
        <input class="form-control" type="text" name="title" ng-model="formData.title" required>
      </label>
      <input class="btn btn-primary" type="submit" ng-disabled="titleform.$invalid">
      <a ng-click="editForm = !editForm">Cancel</a>
    </form>
  </div>

  <div class="col-xs-4" ng-repeat="list in board.lists">
    <list-tag list='list' board='board'></list-tag>
  </div>

  <div class="col-xs-4 new-list">
    <button ng-click="addList()"class="btn btn-primary">Add List..</button>
  </div>

</div>