// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: image-url("djellobg.jpg") no-repeat center center fixed;
}

.navbar {
  background: transparent !important;
  border: 0 !important;
  text-transform:uppercase;
  letter-spacing:.25em;
  font-size:12px;
}

.nav.navbar-nav.navbar-right li a {
  color: black;
}

.nav.navbar-nav.navbar-right li a:hover {
  color: gray;
}

.navbar-inverse .navbar-brand{
  color: black !important;
}